<main class="score-cmp">
    <div class="d-flex p-3">
        <div class="container">
            <div class="picture">
                <table>
                    <td>
                        <h3>CONGRATS
                            <br />
                            <span id="name"></span>
                        </h3>
                    </td>
                    <td>
                        <img src="./happy_homer.jpg" class="happy">
                    </td>
                </table>
            </div>
            <div>
                <table class="info">
                    <td>
                        <p><span id="name2"></span></p>
                    </td>
                    <td>
                        <p><span id="size"></span> pairs</p>
                    </td>
                    <td>
                        <p><span id="time"></span>s</p>
                    </td>
                </table>
            </div>
        </div>
    </div>
</main>