$primary: #582bac;
$primary-light: #7e34bb;
$primary-txt-light: #e7ebec;
$secondary-txt-light: #c4e1e9;
$primary-txt-dark: #02252e;
$secondary-txt-dark: #033e4d;
$primary-background: #34495e;
$primary-background-light: #ccdadb;